In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [5]:
train.shape

(318438, 18)

In [6]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [7]:
train['Bed Grade'].head(10)

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
6    3.0
7    3.0
8    4.0
9    3.0
Name: Bed Grade, dtype: float64

In [8]:
train['City_Code_Patient'].head(10)

0    7.0
1    7.0
2    7.0
3    7.0
4    7.0
5    7.0
6    7.0
7    7.0
8    7.0
9    7.0
Name: City_Code_Patient, dtype: float64

In [9]:
for i in train.columns:
    print("Unique values in {}: {} ".format(i,train[i].nunique()))

Unique values in case_id: 318438
Unique values in Hospital_code: 32
Unique values in Hospital_type_code: 7
Unique values in City_Code_Hospital: 11
Unique values in Hospital_region_code: 3
Unique values in Available Extra Rooms in Hospital: 18
Unique values in Department: 5
Unique values in Ward_Type: 6
Unique values in Ward_Facility_Code: 6
Unique values in Bed Grade: 4
Unique values in patientid: 92017
Unique values in City_Code_Patient: 37
Unique values in Type of Admission: 3
Unique values in Severity of Illness: 3
Unique values in Visitors with Patient: 28
Unique values in Age: 10
Unique values in Admission_Deposit: 7300
Unique values in Stay: 11

In [10]:
train["Bed Grade"].fillna(train["Bed Grade"].mode()[0], inplace=True)
test["Bed Grade"].fillna(test["Bed Grade"].mode()[0], inplace=True)

In [11]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                               0
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [12]:
train["City_Code_Patient"].fillna(train["City_Code_Patient"].mode()[0], inplace=True)
test["City_Code_Patient"].fillna(test["City_Code_Patient"].mode()[0], inplace=True)

In [13]:
train.isnull().sum()

case_id                              0
Hospital_code                        0
Hospital_type_code                   0
City_Code_Hospital                   0
Hospital_region_code                 0
Available Extra Rooms in Hospital    0
Department                           0
Ward_Type                            0
Ward_Facility_Code                   0
Bed Grade                            0
patientid                            0
City_Code_Patient                    0
Type of Admission                    0
Severity of Illness                  0
Visitors with Patient                0
Age                                  0
Admission_Deposit                    0
Stay                                 0
dtype: int64

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318438 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  318438 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [15]:
train.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,318438.000000,318438.000000,318438.000000,318438.000000,318438.000000,318438.000000,318438.000000,318438.000000,318438.000000
mean,159219.500000,18.318841,4.771717,3.197627,2.625585,65747.579472,7.262506,3.284099,4880.749392
std,91925.276847,8.633755,3.102535,1.168171,0.873070,37979.936440,4.712210,1.764061,1086.776254
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1800.000000
25%,79610.250000,11.000000,2.000000,2.000000,2.000000,32847.000000,4.000000,2.000000,4186.000000
50%,159219.500000,19.000000,5.000000,3.000000,3.000000,65724.500000,8.000000,3.000000,4741.000000
75%,238828.750000,26.000000,7.000000,4.000000,3.000000,98470.000000,8.000000,4.000000,5409.000000
max,318438.000000,32.000000,13.000000,24.000000,4.000000,131624.000000,38.000000,32.000000,11008.000000

In [16]:
# label encoding to dep var
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Stay'] = le.fit_transform(train['Stay'].astype("str"))

In [17]:
train.head(10)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,4
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,3
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,4
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,4
5,6,23,a,6,X,2,anesthesia,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,4449.0,1
6,7,32,f,9,Y,1,radiotherapy,S,B,3.0,31397,7.0,Emergency,Extreme,2,51-60,6167.0,0
7,8,23,a,6,X,4,radiotherapy,Q,F,3.0,31397,7.0,Trauma,Extreme,2,51-60,5571.0,4
8,9,1,d,10,Y,2,gynecology,R,B,4.0,31397,7.0,Trauma,Extreme,2,51-60,7223.0,5
9,10,10,e,1,X,2,gynecology,S,E,3.0,31397,7.0,Trauma,Extreme,2,51-60,6056.0,3

In [18]:
#Imputing dummy Stay column in test datset to concatenate with train dataset
test['Stay'] = -1
df = pd.concat([train, test])
df.shape

(455495, 18)

In [19]:
#Label Encoding all the columns in Train and test datasets
for i in ['Hospital_type_code', 'Hospital_region_code', 'Department',
          'Ward_Type', 'Ward_Facility_Code', 'Type of Admission', 'Severity of Illness', 'Age']:
    le = LabelEncoder()
    df[i] = le.fit_transform(df[i].astype(str))

In [20]:
#Spearating Train and Test Datasets
train = df[df['Stay']!=-1]
test = df[df['Stay']==-1]

In [21]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,2,3,2,3,3,2,5,2.0,31397,7.0,0,0,2,5,4911.0,0
1,2,2,2,5,2,2,3,3,5,2.0,31397,7.0,1,0,2,5,5954.0,4
2,3,10,4,1,0,2,1,3,4,2.0,31397,7.0,1,0,2,5,4745.0,3
3,4,26,1,2,1,2,3,2,3,2.0,31397,7.0,1,0,2,5,7272.0,4
4,5,26,1,2,1,2,3,3,3,2.0,31397,7.0,1,0,2,5,5558.0,4

In [22]:
test.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,318439,21,2,3,2,3,2,3,0,2.0,17006,2.0,0,2,2,7,3095.0,-1
1,318440,29,0,4,0,2,2,3,5,2.0,17006,2.0,1,2,4,7,4018.0,-1
2,318441,26,1,2,1,3,2,1,3,4.0,17006,2.0,0,2,3,7,4492.0,-1
3,318442,6,0,6,0,3,2,1,5,2.0,17006,2.0,1,2,3,7,4173.0,-1
4,318443,28,1,11,0,2,2,2,5,2.0,17006,2.0,1,2,4,7,4161.0,-1

In [23]:
#perform count encoding i.e replacing each category by number of times it appears in the dataset

def get_countid_encode(train,test,cols,name):
    temp = train.groupby(cols)['case_id'].count().reset_index().rename(columns = {'case_id':name})
    temp2 = test.groupby(cols)['case_id'].count().reset_index().rename(columns = {'case_id':name})
    train = pd.merge(train, temp, how='left', on= cols)
    test = pd.merge(test,temp2, how='left', on= cols)
    train[name] = train[name].astype("float")
    test[name] = test[name].astype("float")
    train[name].fillna(np.median(temp[name]),inplace=True)
    test[name].fillna(np.median(temp2[name]),inplace=True)
    return train,test

In [24]:
train, test = get_countid_encode(train, test, ['patientid'], name = 'count_id_patient')
train, test = get_countid_encode(train, test, 
                                 ['patientid', 'Hospital_region_code'], name = 'count_id_patient_hospitalCode')
train, test = get_countid_encode(train, test, 
                                 ['patientid', 'Ward_Facility_Code'], name = 'count_id_patient_wardfacilityCode')

In [25]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay,count_id_patient,count_id_patient_hospitalCode,count_id_patient_wardfacilityCode
0,1,8,2,3,2,3,3,2,5,2.0,...,7.0,0,0,2,5,4911.0,0,14.0,4.0,5.0
1,2,2,2,5,2,2,3,3,5,2.0,...,7.0,1,0,2,5,5954.0,4,14.0,4.0,5.0
2,3,10,4,1,0,2,1,3,4,2.0,...,7.0,1,0,2,5,4745.0,3,14.0,4.0,2.0
3,4,26,1,2,1,2,3,2,3,2.0,...,7.0,1,0,2,5,7272.0,4,14.0,6.0,3.0
4,5,26,1,2,1,2,3,3,3,2.0,...,7.0,1,0,2,5,5558.0,4,14.0,6.0,3.0

In [26]:
# Droping duplicate columns
test1 = test.drop(['Stay', 'patientid', 'Hospital_region_code', 'Ward_Facility_Code'], axis =1)
train1 = train.drop(['case_id', 'patientid', 'Hospital_region_code', 'Ward_Facility_Code'], axis =1)

In [27]:
# Segregation of features and target variable
X = train.drop('Stay', axis =1)
y = train['Stay']
print(X.columns)
z = test.drop('Stay', axis = 1)
print(z.columns)

# Data Scaling
from sklearn import preprocessing
X_scale = preprocessing.scale(X)
X_scale.shape

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'count_id_patient',
       'count_id_patient_hospitalCode', 'count_id_patient_wardfacilityCode'],
      dtype='object')
Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'count_id_patient',
       'count_id_patient_hospitalCode', 'count_id_patient_wardfacilityCode'],
      dtype='object')

(318438, 20)

In [28]:
X_mean = np.mean(X, axis=0)
X_std = np.std(X, axis=0)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size =0.20, random_state =100)

In [31]:
X_train

array([[-1.20959847,  1.23714145, -0.81841071, ...,  3.24741717,
         3.54000883,  0.35213298],
       [-0.85064332,  0.88966753, -0.16724594, ..., -0.34869866,
        -0.9762708 , -0.7837083 ],
       [ 0.04954575, -1.54264996, -0.81841071, ..., -0.34869866,
        -0.07301488, -0.7837083 ],
       ...,
       [ 0.56063558, -1.42682532, -0.81841071, ..., -0.34869866,
         0.37861309,  0.92005363],
       [-1.12189667, -0.84770211, -0.16724594, ...,  0.95897982,
        -0.07301488,  0.35213298],
       [ 1.53748487, -0.84770211, -0.16724594, ..., -1.0025379 ,
        -0.9762708 , -0.7837083 ]])

In [32]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

In [33]:
from keras.layers import Dropout, BatchNormalization

In [34]:
from keras.utils import to_categorical
#Sparse Matrix
a = to_categorical(y_train)
b = to_categorical(y_test)

In [35]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(20,)))
model.add(BatchNormalization())
model.add(Dense(256, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(512, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(256, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(11, activation='softmax'))

In [36]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         2,688 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization             │ (None, 128)            │           512 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 256)            │        33,024 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization_1           │ (None, 256)            │         1,024 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 512)            │       131,584 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization_2           │ (None, 512)            │         2,048 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 256)            │       131,328 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ batch_normalization_3           │ (None, 256)            │         1,024 │
│ (BatchNormalization)            │                        │               │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 11)             │         2,827 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 306,059 (1.17 MB)

 Trainable params: 303,755 (1.16 MB)

 Non-trainable params: 2,304 (9.00 KB)

In [37]:
from tensorflow.keras.optimizers import Adam

In [38]:
model.compile(optimizer=Adam(learning_rate=0.001), loss='categorical_crossentropy', metrics=['accuracy'])

In [39]:
X_train.shape

(254750, 20)

In [40]:
a.shape

(254750, 11)

In [41]:
callbacks = [tf.keras.callbacks.TensorBoard("logs_keras"), tf.keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)]
history = model.fit(X_train, a, epochs=50, callbacks=callbacks, validation_split=0.3, batch_size=256)

Epoch 1/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 19s 19ms/step - accuracy: 0.3478 - loss: 1.8540 - val_accuracy: 0.3985 - val_loss: 1.5709
Epoch 2/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 12s 16ms/step - accuracy: 0.4074 - loss: 1.5400 - val_accuracy: 0.4071 - val_loss: 1.5499
Epoch 3/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 9s 13ms/step - accuracy: 0.4175 - loss: 1.5140 - val_accuracy: 0.4083 - val_loss: 1.5363
Epoch 4/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.4227 - loss: 1.4991 - val_accuracy: 0.4155 - val_loss: 1.5297
Epoch 5/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.4241 - loss: 1.4911 - val_accuracy: 0.4141 - val_loss: 1.5293
Epoch 6/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 11s 15ms/step - accuracy: 0.4281 - loss: 1.4797 - val_accuracy: 0.4167 - val_loss: 1.5299
Epoch 7/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 9s 12ms/step - accuracy: 0.4319 - loss: 1.4673 - val_accuracy: 0.4102 - val_loss: 1.5326
Epoch 8/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 12s 16ms/step - accuracy: 0.4352 - loss: 1.4591 - val_accuracy: 0.4125 - val_loss: 1.5292
Epoch 9/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 10s 15ms/step - accuracy: 0.4392 - loss: 1.4420 - val_accuracy: 0.4116 - val_loss: 1.5342
Epoch 10/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 11s 16ms/step - accuracy: 0.4425 - loss: 1.4361 - val_accuracy: 0.4129 - val_loss: 1.5348
Epoch 11/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 12s 18ms/step - accuracy: 0.4512 - loss: 1.4120 - val_accuracy: 0.4093 - val_loss: 1.5404
Epoch 12/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 18ms/step - accuracy: 0.4549 - loss: 1.3982 - val_accuracy: 0.4096 - val_loss: 1.5483
Epoch 13/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 10s 15ms/step - accuracy: 0.4634 - loss: 1.3799 - val_accuracy: 0.4044 - val_loss: 1.5591
Epoch 14/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.4686 - loss: 1.3593 - val_accuracy: 0.4045 - val_loss: 1.5683
Epoch 15/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.4747 - loss: 1.3397 - val_accuracy: 0.4003 - val_loss: 1.5900
Epoch 16/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.4831 - loss: 1.3203 - val_accuracy: 0.4006 - val_loss: 1.6051
Epoch 17/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.4907 - loss: 1.2973 - val_accuracy: 0.3908 - val_loss: 1.6237
Epoch 18/50
697/697 ━━━━━━━━━━━━━━━━━━━━ 11s 16ms/step - accuracy: 0.4992 - loss: 1.2755 - val_accuracy: 0.3923 - val_loss: 1.6461

In [47]:
print("\n Model Evaluation")
model.evaluate(X_test,b)

 Model Evaluation
1991/1991 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.4076 - loss: 1.5287

[1.5264543294906616, 0.41028136014938354]

In [48]:
test_scale = preprocessing.scale(z)
test_scale.shape

(137057, 20)

In [44]:
target_mean = y_train.mean()
target_std = y_train.std()

In [50]:
pred = model.predict(test_scale)
predict = np.argmax(pred,axis=1)

4284/4284 ━━━━━━━━━━━━━━━━━━━━ 6s 1ms/step

In [55]:
result_nn = pd.DataFrame(predict, columns=['Stay'])
result_nn['case_id'] = test['case_id']
result_nn = result_nn[['case_id', 'Stay']]

In [56]:
result_nn['Stay'] = result_nn['Stay'].replace({0:'0-10', 1: '11-20', 2: '21-30', 3:'31-40', 4: '41-50', 5: '51-60', 6: '61-70', 7: '71-80', 8: '81-90', 9: '91-100', 10: 'More than 100 Days'})
result_nn.head()

   case_id   Stay
0   318439   0-10
1   318440  51-60
2   318441  21-30
3   318442  21-30
4   318443  51-60

In [57]:
print(result_nn.groupby('Stay')['case_id'].nunique())

Stay
0-10                   5379
11-20                 38797
21-30                 53648
31-40                 15271
41-50                    77
51-60                 20077
61-70                    16
71-80                   738
81-90                  1212
91-100                  158
More than 100 Days     1684
Name: case_id, dtype: int64